@model List<CursoSlotModel>
<div class="h-line"></div>
<div class="filtro-cursos">
    <form action="@Url.Action("SeccionTablaCurso", "Cursos")" class="search-panel" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tablaDatosCurso" id="frmSearch" method="post">
        <select name="Tipo">
            <option class="label" value="Nombre" name="Nombre">Nombre</option>
            <option class="label" value="Codigo" name="Tipo">Codigo</option>
        </select>
        <input type="text" name="Valor" id="buscar" class="search required ic-buscar icon-input" placeholder="Buscar" />
        <input type="hidden" name="estadoCurso" value="@Constants.Cursos.Estado.HISTORIAL" />
    </form>
</div>
<div class="screen-actions">
    <a href="@Url.Action("Cursos", "Cursos")" class="volver-cursos" name="volver-cursos">Limpiar búsqueda</a>
</div>
<div id="tablaDatosCurso">
    @{Html.RenderPartial("_TablaCursoHistorial");}
</div>