@{
    string NombreCertificado = ViewBag.Certificado;
}
<div class="contenido-cursos">
    <div>
        <div class="">
            <div class="screen-actions-flex-rigth">
                <a href="@Url.Action("NuevoCurso","Cursos")" class="button btn-color02 btn-icon-left btn-icon-agregar" name="nuevoCurso">Nuevo Curso</a>
            </div>
        </div>
        <div class="h-line"></div>
        <div class="filtro-cursos">
            <form action="@Url.Action("SeccionTablaCurso", "Cursos")" class="search-panel" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tablaDatosCurso" id="frmSearch" method="post">
                <select name="Tipo">
                    <option class="label" value="Nombre" name="Nombre">Nombre</option>
                    <option class="label" value="Codigo" name="Tipo">Codigo</option>
                </select>
                <input type="text" name="Valor" id="buscar" class="search required ic-buscar icon-input" placeholder="Buscar" />
            </form>
        </div>
        <div class="screen-actions">
            <a href="@Url.Action("Cursos", "Cursos")" class="volver-cursos" name="volver-cursos">Limpiar búsqueda</a>
        </div>
    </div>
</div>
<div id="tablaDatosCurso">
    @{Html.RenderPartial("_TablaCurso");}
</div>