@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restablecer</title>
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/Enhanced.css" rel="stylesheet" media="screen and (min-width: 65em)">
</head>
<body>
    <div class="system-error">
        <div class="detalle-sistema">
            <h1>¡Listo!</h1>
            <p>
                Su contraseña fue enviada a su correo satisfactoriamente.
                <span>Por favor vuelva a loguearse en el sistema nuevamente.</span>
            </p>
            <a href="@Url.Action("Index","Login")" class="button btn-color01 btn-icon-left ic-volver">Ir al LogIn</a>
        </div>
        <div class="logo-empresa"></div>
    </div>
</body>
</html>