@{
    ViewBag.Title = "RestablecerPassword";
    Layout = "~/Views/Shared/_Layout_No_Menu.cshtml";
}

<div class="login">
    <form action="@Url.Action("Index")" id="frmLogin" method="post">
        <div class="background"></div>
        <div class="panel">
            <img class="logo" src="~/Images/logo_vertical.svg" alt="SOOM Desempeño" />
            <label class="step-password">Ingresa tu nombre de usuario o email para restaurar tu contraseña</label>
            <input type="text" class="required" id="usernameocorreo" placeholder="Usuario o Email" />
            <a class="button btn-color01" id="btnLogin" onclick="restablecerPassword();">Enviar</a>
        </div>
    </form>
</div>
@section scripts{
    <script>
        function restablecerPassword() {
            var usernameocorreo = $('#usernameocorreo').val();

            startLoading();
            $.post('@Url.Action("RestaurarPassword")', {
                UsernameoCorreo: usernameocorreo
            },
                function (data) {
                    if (data.OK) {
                        window.location = '@Url.Action("PasswordRestablecido", "Login")';
                    }
                    else {
                        showMessage(data.Message, null);
                    }
                    stopLoading();
                });
        }
    </script>

}